//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 24 00:17:25 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "reset" LOCATE = SITE "A8" LEVEL 1;
COMP "rxdata" LOCATE = SITE "N17" LEVEL 1;
COMP "txdata" LOCATE = SITE "N18" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "gen/index_7" BEL "gen/index_6" BEL "gen/index_8"
        BEL "gen/index_4" BEL "gen/index_3" BEL "gen/index_5" BEL
        "gen/index_1" BEL "gen/index_2" BEL "gen/ctrlIn_delayed" BEL
        "data/curState_FSM_FFd1" BEL "data/index_30" BEL "data/index_29" BEL
        "data/index_28" BEL "data/index_27" BEL "data/index_26" BEL
        "data/index_25" BEL "data/index_24" BEL "data/index_23" BEL
        "data/index_22" BEL "data/index_21" BEL "data/index_20" BEL
        "data/index_19" BEL "data/index_18" BEL "data/index_17" BEL
        "data/index_16" BEL "data/index_15" BEL "data/index_14" BEL
        "data/index_13" BEL "data/index_12" BEL "data/index_11" BEL
        "data/index_10" BEL "data/index_9" BEL "data/index_8" BEL
        "data/index_7" BEL "data/index_6" BEL "data/index_5" BEL
        "data/index_4" BEL "data/index_3" BEL "data/index_2" BEL
        "data/index_1" BEL "data/index_0" BEL "data/curState_FSM_FFd2" BEL
        "data/seq_detectPeak.holdValues_6_7" BEL
        "data/seq_detectPeak.holdValues_6_6" BEL
        "data/seq_detectPeak.holdValues_6_5" BEL
        "data/seq_detectPeak.holdValues_6_4" BEL
        "data/seq_detectPeak.holdValues_6_3" BEL
        "data/seq_detectPeak.holdValues_6_2" BEL
        "data/seq_detectPeak.holdValues_6_1" BEL
        "data/seq_detectPeak.holdValues_6_0" BEL "data/data_reg_7" BEL
        "data/data_reg_6" BEL "data/data_reg_5" BEL "data/data_reg_4" BEL
        "data/data_reg_3" BEL "data/data_reg_2" BEL "data/data_reg_1" BEL
        "data/data_reg_0" BEL "cmd/cur_state_FSM_FFd2" BEL
        "cmd/cur_state_FSM_FFd3" BEL "cmd/cur_state_FSM_FFd1" BEL
        "tx/bitIndex_30" BEL "tx/bitIndex_29" BEL "tx/bitIndex_28" BEL
        "tx/bitIndex_27" BEL "tx/bitIndex_26" BEL "tx/bitIndex_25" BEL
        "tx/bitIndex_24" BEL "tx/bitIndex_23" BEL "tx/bitIndex_22" BEL
        "tx/bitIndex_21" BEL "tx/bitIndex_20" BEL "tx/bitIndex_19" BEL
        "tx/bitIndex_18" BEL "tx/bitIndex_17" BEL "tx/bitIndex_16" BEL
        "tx/bitIndex_15" BEL "tx/bitIndex_14" BEL "tx/bitIndex_13" BEL
        "tx/bitIndex_12" BEL "tx/bitIndex_11" BEL "tx/bitIndex_10" BEL
        "tx/bitIndex_9" BEL "tx/bitIndex_8" BEL "tx/bitIndex_7" BEL
        "tx/bitIndex_6" BEL "tx/bitIndex_5" BEL "tx/bitIndex_4" BEL
        "tx/bitIndex_3" BEL "tx/bitIndex_2" BEL "tx/bitIndex_1" BEL
        "tx/bitIndex_0" BEL "tx/bitTmr_13" BEL "tx/bitTmr_12" BEL
        "tx/bitTmr_11" BEL "tx/bitTmr_10" BEL "tx/bitTmr_9" BEL "tx/bitTmr_8"
        BEL "tx/bitTmr_7" BEL "tx/bitTmr_6" BEL "tx/bitTmr_5" BEL
        "tx/bitTmr_4" BEL "tx/bitTmr_3" BEL "tx/bitTmr_2" BEL "tx/bitTmr_1"
        BEL "tx/bitTmr_0" BEL "tx/txState_FSM_FFd1" BEL "tx/txState_FSM_FFd2"
        BEL "tx/txBit" BEL "tx/txData_7" BEL "tx/txData_6" BEL "tx/txData_4"
        BEL "tx/txData_3" BEL "tx/txData_2" BEL "tx/txData_1" BEL
        "rx/bitCount_3" BEL "rx/bitCount_2" BEL "rx/bitCount_1" BEL
        "rx/bitCount_0" BEL "rx/baudClkX8Count_3" BEL "rx/baudClkX8Count_2"
        BEL "rx/baudClkX8Count_1" BEL "rx/baudClkX8Count_0" BEL
        "rx/currentState_FSM_FFd2" BEL "rx/currentState_FSM_FFd3" BEL
        "rx/currentState_FSM_FFd1" BEL "rx/bitTmr_10" BEL "rx/bitTmr_9" BEL
        "rx/bitTmr_8" BEL "rx/bitTmr_7" BEL "rx/bitTmr_6" BEL "rx/bitTmr_5"
        BEL "rx/bitTmr_4" BEL "rx/bitTmr_3" BEL "rx/bitTmr_2" BEL
        "rx/bitTmr_1" BEL "rx/bitTmr_0" BEL "rx/rcvDataReg_7" BEL
        "rx/rcvDataReg_6" BEL "rx/rcvDataReg_5" BEL "rx/rcvDataReg_4" BEL
        "rx/rcvDataReg_3" BEL "rx/rcvDataReg_2" BEL "rx/rcvDataReg_1" BEL
        "rx/rcvDataReg_0" BEL "rx/rcvShiftReg_9" BEL "rx/rcvShiftReg_8" BEL
        "rx/rcvShiftReg_7" BEL "rx/rcvShiftReg_6" BEL "rx/rcvShiftReg_5" BEL
        "rx/rcvShiftReg_4" BEL "rx/rcvShiftReg_3" BEL "rx/rcvShiftReg_2" BEL
        "rx/rcvShiftReg_1" BEL "data/index_31" BEL "data/ctrlOut_reg" BEL
        "rx/regFull" BEL "gen/index_0" BEL "data/seqDone_reg" BEL
        "data/dataReady_reg" BEL "data/ctrlIn_reg" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

